/*FOOTER SECTION STYLE*/
.footer {
    background-color: #f1f1f1b7;
    color: rgb(36, 36, 36);
    padding: 10px 0 1px;
    font-size: 14px;
}

.footer a {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.footer a:hover {
    color: #cd466a;
    text-decoration: none;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    align-items: start;
    margin-top: 30px;
}

.footer-brand h4 {
    font-weight: 700;
    margin-bottom: 5px;
    color: black;
}

.footer-brand p {
    color: rgb(36, 36, 36);
    font-size: 13px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    font-size: 14px;
    margin-bottom: 6px;
}

.footer h6 {
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hire-btn {
    border: 1px solid rgb(110, 110, 110);
    text-decoration: none;
    background: #ffffff;
    color: black;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}

.hire-btn:hover {
    background-color: #d14268;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(209, 66, 104, 0.45);
}

.media-icons {
    display: flex;
    align-items: center;
}

.media-icons a {
    font-size: 15px;
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.media-icons a:hover {
    color: #d14268;
    transform: scale(1.15);
}

.footer hr {
    border-color: rgb(32, 32, 32);
}

.footer-bottom {
    font-size: 12px;
    color: black;
    text-align: center;
}