/*PROJECTS STYLE*/
.project-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  height: 100%;
  border: 2px solid white;

}

.project-card:hover {
  background-color: transparent;
}

/* Image */
.project-image {
  position: relative;
  overflow: hidden;
  border-radius: 5px;

}

.project-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform .4s ease;
  border-radius: 5px;

}

.project-card:hover img {
  transform: scale(1.08);
}

/* Hover Overlay */
.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, .85);
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .3s ease;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

/* Content */
.project-content {
  padding: 18px;
  color: white;
}

.project-content h5 {
  font-weight: 600;
  margin-bottom: 6px;
}

.project-content p {
  font-size: 14px;
  color: white;
}

/* Tech Tags */
.project-tags span {
  display: inline-block;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: rgb(228, 228, 228);
  border: #cecece 1px solid;
  padding: 4px 10px;
  border-radius: 999px;
  margin: 4px 4px 0 0;
  font-weight: 600;
}

/*BUTTON*/
.project-overlay {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* Base button style */
.project-btn {
  padding: 8px 22px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 999px;
  /* FULL pill / semi-circle look */
  transition: all 0.3s ease;
  text-decoration: none;
  border: 1px solid transparent;
}

/* Preview button */
.btn-light.btn-sm {
  background-color: #ffffff;
  color: #020617;
  border-radius: 15px;
}

.btn-light .btn-sm:hover {
  background-color: #e5e7eb;
  transform: translateY(-2px);
}

/* GitHub outline button */
.btn-outline-light.btn-sm {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;

}

.btn-outline-light .btn-sm:hover {
  background-color: #ffffff;
  color: #020617;
  transform: translateY(-2px);
}