@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* General Navbar Styling */
.navbar {
    padding: 20px 30px;
    background-color: #e7e7e7;
    font-size: 20px;
    height: 80px;
}

.navbar-brand h5 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar span {
    color: #4e9eff;
}

.navbar-brand span {
    color: #4e9eff;
    font-weight: bold;
    align-items: center;
}

.button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 15px;
    align-items: center;
    text-align: center;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Container Fix */
.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}


.btn-primary {
    text-decoration: none;
}


/* Mobile Screens (up to 768px) */
@media (min-width: 320px) {
    .navbar {
        padding: 15px 20px;
        font-size: 16px;
        height: auto;
    }

    section {
        padding: 20px 10px;
    }


    .container h3 {
        font-size: 20px;
    }

    .btn-primary {
        font-size: 13px;
    }
}

/* Tablets (769px - 1024px) */
@media (min-width: 750px) and (max-width: 1024px) {
    .cards-container {
        justify-content: space-around;
        margin-top: 10px;

    }

    .card {
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-title {
        font-size: 14px;
        text-align: center;
    }

    .card-header {
        font-size: 14px;
    }
}

@media screen and (min-width: 1025px) {
    .card {
        width: 18rem;
    }

    .card-header {
        font-size: 15px;
    }
}

/* Responsive Navbar */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: end;
        width: 100%;
    }

    .navbar-nav .nav-link {
        display: block;
        width: 100%;
    }
}